---
---

@use "minima";


:root{
    --outline-hover-color: #555F;
}


img{
    display: block;
    width: 100px;
    margin-inline: auto;
    border-radius: 5px;
}

.project-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;   
}

.project-list h2{
    font-size: 26px;
}

.project-list :is(h2,h3,h4,h5,a){
    text-align: center;
}

.project-card{
    width: 48%;
    min-width: 250px;
    margin-top: 2%;
    border-radius: 16px;
    box-sizing: border-box;
    border: 1px solid #aaa6;
    padding-inline: 4px;
    transition: border 0.2s ease, outline 0.2s ease;
}
.project-card, input, textarea,form button{
    border: 1px solid #555d;
}

:is(.project-card, input, textarea, form button):hover{
    outline: 1px solid var(--outline-hover-color);
}

.project-card:hover{
    border: 1px solid #555d;
    box-shadow: 0px 0px 5px 2px var(--outline-hover-color) ;
}


form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    gap: 0.5em;
}

form > *{
    min-width: 12em;
    display: flex ;
    flex-direction: column;
    flex: 1;
}

form label:nth-child(1), form label:nth-child(2){
    width: 50%;
}

label{
    display: flex;
    align-content: center;

}

form button{
    padding: 5px 10px;
    margin-top: 2em;
    height: min-content;
}

form button:hover{
    background-color: #ddd;
}

form button, input, textarea{
    border-radius: 4px;
}
